.output-component {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
}

.output-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /*  Flex 비율을 조정 */
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
}

.judgement-box, .summary-box , .title-box, .keyword-box {
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}
.judgement-box {
  flex: 1; /*Flex 비율을 1:3으로 설정 */
  margin-top: 5px;
  margin-bottom: 10px
}

.summary-box {
  flex: 1; /* Flex 비율을 1:5으로 설정 */
  margin-bottom: 5px;
}
.title-box {
  flex: 1; /*Flex 비율을 1:3으로 설정 */
  margin-top: 5px;
  margin-bottom: 10px
}

.keyword-box {
  flex: 5; /* Flex 비율을 1:5으로 설정 */
  margin-bottom: 5px;
}

.output-buttons select {
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.output-buttons select {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.output-box h3 {
  margin-top: 0;
}